<nav class='navbar navbar-nav navbar-fixed-top'>
  <div class='container-fluid'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    
    <!--<li><a routerLinkActive="active"[routerLink]="['/details/:code']"></a></li>-->
    <!--<li><input type="button" class="btn waves-effect waves-light" value='ALBUM' [routerLink]="['/album']"></li>
    
<li><input type="button" class="btn waves-effect waves-light" value='TODOS' [routerLink]="['/todos']"></li>
<li><input type="button" class="btn waves-effect waves-light" value='COMMENTS' [routerLink]="['/comments']"></li>
    -->
  </div>
</nav>
<router-outlet></router-outlet>